.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
}

.leftPane {
  flex: 2;
  margin-right: 10px;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.rightPane {
  flex: 2;
  overflow-y: auto;
  padding: 20px;
}
