/* UnitSelect.module.css */
.toggleGroupContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.toggleGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.toggleGroupItem {
  min-width: 60px;
  text-align: center;
}

.toggleGroupItemActive {
  background-color: #00796b; /* Dark teal background when active */
  color: #ffffff; /* White text color when active */
}
