.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./assets/loginBackground.webp);
  background-size: cover;
  font-family: var(--font-family);
}

.resetContainer {
  position: relative;
  width: 360px;
  background: transparent;
  border: 2px solid var(--border-color);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
}

.header {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.formGroup {
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}

.inputField {
  width: calc(100% - 30px);
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--text-color);
  outline: none;
  padding-right: 30px; /* Space for the icon */
  color: var(--text-color);
  padding-bottom: 5px;
  font-size: 16px;
}

.icon {
  color: var(--text--color);
  position: absolute;
  top: 32px; /* Adjust based on the height of the input field */
  right: 0;
  font-size: 16px;
}

.button {
  background-color: var(--button-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.button:disabled {
  background-color: var(--border-color);
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
